<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Fuzzy Arabic Dictionary</title>

  <!-- Styles -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Ubuntu&subset=latin' rel='stylesheet' type='text/css'>
  <link href='/static/main.css' rel='stylesheet' type='text/css'>

  {% block head %}{% endblock %}

</head>

<body class="container-fluid p-0">
  <div class="row header container-fluid no-gutters">
    <div class="col-md-8 offset-md-2 bottomspace">
      <div class="roundbutton rotate45 smaller floatleft greyout">3raby</div>
      <p class="topspace"><span class="big">Fuzzy Arabic Dictionary</span>
      <p>Look up Arabic words without needing to know how to spell.<br />
        Powered by <a href="https://yamli.com">Yamli</a> and the <a
          href="https://catalog.ldc.upenn.edu/LDC2002L49">Buckwalter Morphological
          Analyzer</a>.<br />
        Glued together by <a href="https://michelleful.github.io/">Michelle Fullwood</a> with <a
          href="http://flask.pocoo.org/">Flask</a>.
        <a href="http://michelleful.github.io/code-blog/2014/03/25/fuzzy-arabic-dictionary">More &raquo;</a>
      </p>
    </div>
  </div><!-- end row -->

  {% block body %}{% endblock %}

</body>

</html>