{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="jquery.monitor.js"></script>-->
<script type="text/javascript">

$(document).ready(function() {
    var prev_lookup = "";
    $(".yamliapi_inst_ff_arabictextbox.yamliapi_menuContent").live("DOMSubtreeModified",function(){
        // check if the property you are watching has changed
        // filter specifically the Arabic words returned by Yamli
        var new_results = $(this).find("div").filter(function () {
            return $(this).css('direction') == 'rtl'
        }).not(function () {
            return $(this).css('font-style') == 'italic'
        });
        // create lookup string
        var lookup = new_results.map(function(i, el) {
            return $(el).text();
        }).get().join();
        // check that this is actually something new - don't overload server
        if (lookup != prev_lookup) {
           prev_lookup = lookup;
           console.log(lookup)
           // send off to be analysed
           $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              url: "{{ url_for('query') }}",
              data: JSON.stringify({ 'words': lookup}),
              success: function (data) {
                $("#yamli_results").html("");
                console.log(data.analyses);
                for (var analysis_number in data.analyses) {
                    var analysis = data.analyses[analysis_number];
                    var table_row = "<tr><td>" + analysis.word + "</td><td>" + analysis.vowelled + "</td><td>" + analysis.pos + "</td><td>" + analysis.gloss + "</td></tr>";
                    $("#yamli_results").append(table_row);
                }
              },
              dataType: "json",
           });
        }
    });
});

</script>

<style type="text/css">
#yamliapi_dyn_div {visibility:hidden;}
#query input {font-size: 200%; height: 40px; width: 300px; text-align: center;}
</style>


<!-- YAMLI CODE START -->
<script type="text/javascript" src="http://api.yamli.com/js/yamli_api.js"></script>
<script type="text/javascript">
  if (typeof(Yamli) == "object" && Yamli.init( { uiLanguage: "en" , startMode: "onOrUserDefault" } ))
  {
    Yamli.yamlify( "arabictextbox", { settingsPlacement: "hide", uiFontFamily: 'Ubuntu', } );
  }
</script>
<!-- YAMLI CODE END -->

{% endblock %}


{% block body %}
    <div class="row">
    <div id="query" class="offset5 span3 topspace">
        <form>
        <input type="text" class="big" id="arabictextbox"/>
        </form>
    </div>
    </div>
    <div class="span9 offset3 topspace">
        <table id="yamli_results"></table>
    </div>

{% endblock %}


